<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <div class="content">
      <div class="title">
        <h2>Need a little (password) change?</h2>
      </div>
      <div class="text">
        <p>
          Need a new password? We've all been there. Just click
          <a href="{{ redirect_url }}">this link.</a>
        </p>
      </div>
    </div>
  </body>
  <style>
    body {
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: sans-serif;
    }
    .content {
      width: 300px;
    }
  </style>
</html>
